#currentWeatherWidget {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2; 
    height: 200px;
}

.currentWeather{
    flex: 1;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 80%;
}
#dayOfWeekCurWeather {
    /* display: flex;
    align-items: flex-end; */
    /* margin-bottom: 0; */
    font-size: 1.75rem;
    width: 120px;
}

#dateCurWeather {
    font-family: 'Gotham-light';
    width: 120px;
    text-align: center;
    /* display: flex;
    align-items: flex-start;
    margin-top: 0; */
}



#iconCurWeather {
    width: 64px;
    /* display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    transform: translate(1rem, 1rem); */
}

#tempCurWeather {
    font-family: 'Gotham-light';
    width: 64px;
    text-align: center;
    /* margin-top: 0;
    display: flex;
    justify-self: flex-end; */
}